.div {
    /* margin-left: 80px; */
    border: 1px solid rgb(206, 205, 205);
    margin-top: -24px;
}
.div1 {
    background-color:rgb(209, 231, 245);
    height: 80px;
}
.title {
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin-top: 25px;
    width: 200px;
    float: left;
}
.div2 {
    margin-left: 30px;
}
