.S24{
 .bbtton{
    width:1000px ;
    height: 47px;
    background-color: #7f7f7f;
  }
  .Title {
    text-align: center;
  }
  .Table1 {
    text-align: right;
  }
  .Table2 {
    text-align: right;
  }
  .Table3 {
    margin-left: 85px;
    margin-right: 20px;
    color: rgb(182, 178, 178) !important; 
  }
  .Table4 {
    margin-left: 135px;
  }
}