#ReplyTrsg {
  #cancel_btn{
    width: 100px;
    font-size: medium;
    background: #fff;
    color: black;
    border-style: solid;
    border-width: thin;
    border-color: rgb(112, 110, 110);
    float: right;
  }
  #Argee_btn{
    width: 100px;
    font-size: medium;
    background: #09a34e;
    color: rgb(246, 239, 239);
    float: right;
  }
}