.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-active{
  color:rgba(188, 218, 81, 0.966) !important;
}
.css-1u4zpwo-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
  color:rgba(188, 218, 81, 0.966) !important;
}
.css-13yr61n-MuiPaper-root-MuiAlert-root {
  border: 0px solid aliceblue  !important;
}
.css-1pxa9xg-MuiAlert-message {
  padding: 0px 0px !important;
}
