    .titleN1 {
        font-weight: bold;
        float: left;
    }

    .TitleStyleN1 {
        float: right;
        margin-right: 20px;
        margin-left: -10px;
        font-size: 14px;
        padding: 0px;
    }

    .hrStyleN1 {
        margin: 1px;
    }

    .titleN12{
        font-weight: bold;
        float:left;
    }
    .TitleStyleN12{
        float: right;
        margin-left: 10px;
        font-size: 14px;
        height: 20px;
        padding: 0px;
    }
    .hrStyleN12{
        margin: 1px;
        width:100%;
    }