#S25{
  #headPart{
    width: 1000px;
    height: 47px;
    background-color: #7f7f7f;
  }
  .tttle {
    text-align: center;
  }
  .table1 {
    text-align: right;
  }
  .table2 {
    text-align: right;
  }
  .table3 {
    margin-left: 85px;
    margin-right: 20px;
    color: rgb(182, 178, 178) !important; 
  }
  .table4 {
    margin-left: 135px;
  }
} 
.dialogText{
   margin: auto;
   width: 700px;
}
