.all{
  margin: auto;
  width: 850px;
  .TTtle {
    text-align: center;
  }
  .ffrm {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    padding-left: 16px;
  }
  .zimi{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .lab{
    background-color:rgba(188, 218, 81, 0.966);
  }
  .la{
    background-color:rgba(192, 185, 185, 0.966);
  }
}


